@import "tailwindcss";

@font-face {
  font-family: 'Pokedex';
  src: url('/fonts/PokemonGB.ttf') format('ttf'),
      url('/fonts/PokemonGB.woff2') format('woff2');
}

:root {
  --background: #171717;
  --pokedex-red: #dc0a2d;
  --header-bg: #b00824;
  --pokedex-screen: #77081a;
  --pokedex-blue: #509bfb;
  --foreground: #ffffff;
  --thumb-size: 12rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pokedex';
}

a {
  color: #fff;
  &:hover {
      color: #f7bfb7;
  }
}