$size: 18rem;

.pokemon-details {
    background-color: var(--pokedex-screen);
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    overflow: auto;
    max-height: 80vh;
    height: 70vh;
    hr {
        border-top-width: 8px;
    }
    h2, h3 {
        color: #fff;
        font-weight: bold;
    }
}

.controls {
    a {
        color: #fff;
        &.disable-click{
            pointer-events: none;
            text-decoration: none;
            color: #333;
        }
    }
}