$size: 18rem;

.pokemon-details {
    font-size: 14px;
    overflow: auto;
    max-height: 80vh;
    height: 78vh;
    hr {
        border-top-width: 8px;
    }
    
}

.controls {
    a {
        &.disable-click{
            pointer-events: none;
            text-decoration: none;
            color: #333;
        }
    }
}